@use '../../../../assets/styles/mixins' as mixin;

.card {
  margin: auto;
  background-color: #fff;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: #fff;
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--text-color) 0px 12px 28px;
  @include mixin.sm-lt {
    margin: auto;
    height: 400px;
    padding: 10px;
  }
  @include mixin.xs {
    margin: auto;
    height: 250px;
    padding: 10px;
  }
  :hover {
    cursor: pointer;
  }
}

.cardImage {
  border-radius: 10px;
  margin: 10px auto;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  @include mixin.sm-lt {
    width: 80px;
  }
}

.cardText {
  max-width: 340px;
  font-size: medium;
  margin-bottom: 10px;
  :nth-child(2) {
    font-weight: 500;
    color: var(--text-color);
    font-size: small;
  }
  @include mixin.xs {
    margin-bottom: 4px;
  }
}

.cardText:last-child {
  margin-bottom: 0px;
}

.subTitle {
  text-decoration: underline;
  font-weight: 600;
  color: var(--primary);
  text-align: left;
  @include mixin.sm-lt {
    font-weight: 500;
    font-size: medium;
  }
}
