@use '../../assets/styles/mixins' as mixin;

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  @include mixin.md-lt {
    margin: 0px auto auto auto;
  }
}
.grid {
  height: 589px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-auto-columns: repeat(3, 200px);
  gap: 20px;
  @include mixin.md-lt {
    height: 560px;
    grid-template-columns: repeat(2, 250px);
    grid-auto-columns: repeat(2, 250px);
  }
  @include mixin.xs {
    height: auto;
    grid-template-columns: 250px;
    grid-auto-columns: 250px;
  }
}

.cocktailsResults {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 636px;
  @include mixin.lg {
    height: 406px;
  }
  @include mixin.md-lt {
    min-height: 406px;
    height: auto;
  }
}

.contentCard {
  max-width: 1150px;
  width: 100%;
}

.small {
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 1600px) {
  .grid {
    gap: 10px;
  }
  .contentCard {
    display: flex;
    flex-direction: column;
  }
}
