@use '../../assets/styles/mixins' as mixin;

.backButton {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s;
  color: white;
  background-color: var(--primary);
  border: 0px;
  font-weight: 600;
  &:hover {
    background-color: white;
    color: var(--primary);
  }
}
.cocktailsRecipe {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin: 30px;
  @include mixin.xs {
    margin: 10px;
  }
}
.cardContainer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  @include mixin.lg-lt {
    grid-template-columns: repeat(2, 300px);
    grid-auto-columns: repeat(2, 300px);
  }
  @include mixin.sm-lt {
    margin: 10px 0px;
    grid-template-columns: 300px;
    grid-auto-columns: 300px;
  }
}
