@use '../assets/styles/mixins' as mixin;

.header {
  position: relative;
  padding: 10px 20px;
  height: 50px;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  img {
    width: 110px;
    @include mixin.md-lt {
      width: 70px;
    }
  }
}

.headerList {
  @include mixin.xs {
    display: none;
  }
}

.headerXs {
  display: none !important;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.xs {
    display: block !important;
  }
}
@include mixin.sm-lt {
  h1 {
    font-size: 18px;
  }
}
@include mixin.md {
  h1 {
    font-size: 26px;
  }
}
