.dropdownContainer {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  margin: 10px 0px;
}

.dropdownInput {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-weight: 500;
  color: #fff;
}

.dropdownMenu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: var(--gray-1);
  z-index: 2;
}

.dropdownMenuList {
  display: flex;
  flex-direction: column;
}

.dropdownMenuListItem {
  margin: 10px 0;
  font-weight: 500;
  color: #fff;
}

.dropdownContainer:hover,
input:hover,
i:hover {
  cursor: pointer;
}

.dropdownTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdownTagItem {
  background-color: var(--primary);
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.dropdownTagClose {
  display: flex;
  align-items: center;
}

.searchBox {
  padding: 5px;
  background-color: #eee;
}

.searchBox {
  background-color: var(--gray-1);
}

.searchBox input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}