@use 'styles/mixins' as mixin;

.recipe {
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  height: fit-content;
  color: #fff;
  width: 100%;
  min-width: 120px;

  @include mixin.xs-lg {
    height: auto;
  }

  >i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 1;

    &:hover {
      color: var(--red-1);
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  i {
    font-size: 20px;

    &:hover {
      color: var(--primary);
    }
  }

  @include mixin.xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.recipeTitle {
  text-align: center;

  @include mixin.sm-lt {
    font-size: 10px;
  }
}

.imageContainer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  text-align: center;

  img {
    transition: 1s transform;
    width: auto;
    height: 70px;
  }
}

.recipeContent {
  height: 80px;
  transition: 0.2s color;
  border: 1px solid var(--gray-2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include mixin.xs-lg {
    height: 60px;
  }
}

@media screen and (min-width: 769px) and (max-width: 2000px) {
  .imageContainer {
    border: 1px solid var(--gray-2);
    text-align: center;

    img {
      height: 86px;
    }
  }
}