@use '../../../../assets//styles/mixins' as mixin;

.alphabeticalFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  max-width: inherit;
  word-wrap: break-word;
}
li {
  min-width: 20px;
  padding: 2px;
  margin: 0px 2px;
  border: 1px solid var(--gray-2);
  color: var(--gray-2);
  background-color: var(--primary);
  box-shadow: 3px 3px 1px 1px rgba(255, 99, 72, 0.3);
  transition: all 0.3s ease-in-out;
  text-align: center;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  @include mixin.sm-lt {
    padding: 2px;
    margin: 3px;
    min-width: 16px;
  }
}
