.b1 {
  background-color: red;
  border: 1px solid red;
}

.b2 {
  background-color: green;
  border: 1px solid green;
}

.b3 {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.b4 {
  background-color: purple;
  border: 1px solid purple;
}
