.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.m-5 {
  margin: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.m-20 {
  margin: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.px-10{
  padding-left: 10px;
  padding-right: 10px;
}
.my-10{
  margin-left: 10px;
  margin-right: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.vertical-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
