@use 'styles/mixins' as mixin;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 20px;
}

.pagination .paginateItems {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  background: #fff;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .paginateItems:hover {
  color: #fff;
  background: var(--primary);
}

.pagination .active {
  color: #fff;
  background: var(--primary);
}

.pagination .active:hover {
  color: #00a8ff;
  background: #fff;
}